<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for guild in guilds %}
        <a href={{guild.guild_dashboard_url}}>
            <div class="item">
                <img class="title" src="{{guild.guild_image_url}}">
                <p class="title"> <b>{{ guild.name }}</b> </p>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>