<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <title>Source Tracker Demo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      .btn-primary {
        @apply py-2 px-5 bg-rose-700 text-white rounded-full
        hover:bg-rose-800 focus:outline-none focus:ring focus:ring-yellow-400;
      }

      input[type="radio"] {
        @apply accent-rose-600;
      }

      input[type="range"] {
        @apply h-2 bg-neutral-600 rounded-lg appearance-none cursor-pointer accent-rose-600;
      }

      textarea {
        @apply p-2.5 text-sm text-white bg-neutral-900 rounded-lg border
        border-rose-800 resize;
      }
    </style>

    <script src="/static/guild_dashboard.js" defer></script>
  </head>

  <body class="bg-neutral-950 text-slate-200">
    <header class="bg-rose-700 p-4 flex items-center">
      <a href="/v1/dashboard">
        <h1 class="text-2xl">Source Tracker Demo</h1>
      </a>

      <div class="flex-1"></div>

      <img class="w-[32px] h-[32px] rounded-full" src="{{user_avatar}}" alt="discord user profile" />
      <span class="ml-2">{{username}}</span>

      <a href="/v1/logout/">
        <span class="ml-2 cursor-pointer underline">Log out</span>
      </a>
    </header>

    <main class="p-16">
      <form>
        <h2 class="text-4xl">Guild dashboard</h2>
        {% if bot_not_invited %}
        <div role="alert" class="my-8">
          <div class="bg-rose-500 text-white font-bold text-3xl rounded-t px-4 py-2">
            Warning!
          </div>
          <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-black">
            <p>It appears Source Tracker is not part of this Discord Guild! Dashboard is enabled once you invite Source Tracker to your Guild!</p>
          </div>
        </div>
        <button class="btn-primary mt-4" onclick="window.open('{{invite_url}}', '_blank');" type="button">
          Invite Source Tracker
        </button>
        {% else %}
        <div class="mt-4">
          <div>
            <p class="text-xl">Bot status</p>
            <input type="radio" id="statusEnabled" name="bot_status" {{ "checked" if is_enabled is sameas true  }}/>
            <label for="statusEnabled">Enabled</label>
            <input type="radio" id="statusDisabled" name="bot_status" class="ml-4" {{ "checked" if is_enabled is sameas false }}/>
            <label for="statusDisabled">Disabled</label>
          </div>
          <div class="mt-4">
            <p class="text-xl">Check period</p>

            <input type="range" id="checkPeriod" min="5" max="60" value={{check_period}} step="5" class="w-[200px]" />
            <label id="checkPeriodLabel" for="checkPeriod"></label>
          </div>

          <div class="mt-4">
            <p class="text-xl">Game servers list</p>
            <textarea id="serverList" spellcheck="false" placeholder="domain:port"></textarea>
          </div>

          <div class="mt-4">
            <button type="submit" class="btn-primary">Save</button>
          </div>
          {% endif %}
        </div>
      </form>
    </main>
  </body>
</html>
